.dotfiles
.CFUserTextEncoding
.antigen/
.aws/
.cache/
.config/AWSVPNClient/
.config/iterm2/
.config/zsh/.zshrc.zwc
.gnupg/
.local/
.ssh/
.viminfo
.zsh_histfile
.zsh_history
.zsh_sessions/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
github/
gitlab/
.DS_Store
.config/kustomize
.config/kustomize.old
.docker/
.gitconfig
.kube/
.lesshst
.minikube/
.vagrant.d/
Applications/
